<div class="container pt-4" >
  <div>
    <p>
      <h2>
      <strong>Name:</strong>
      <%= @cocktail.name %>
      </h2>
    </p>

      <% @cocktail.doses.each do |dose|  %>
        <%= dose.description %>
        <%= dose.ingredient.name %>
       <% end %>

    <div class="pt-4" >
      <%= link_to "Delete dose", dose_path(@cocktail), method: :delete, class: "btn btn-danger" %>
    </div>

    <div class= "pt-4">
      <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
    </div>

  </div>

  <div>
  <%= link_to 'Back to all Cocktail', cocktails_path %>
  </div>
